.card {
  margin: 5px;
}

.card-img {
    width: 100%;
    height: 250px;
    margin-top: 10px;
}

.card-body {
    justify-content: space-between !important;
    display: flex !important;
    flex-direction: column !important;
}

.nav-link{
    color: white;
  }

  .btn {
    margin-bottom: 5px;
  }