.category>a {
    text-decoration: none;
    color: inherit;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.myCategory {
    width: 100%;
    padding: 20px 0;
    justify-content: space-evenly !important;
    display: flex !important;
    flex-direction: row !important;
    font-size: 120%;
}